---
import "../styles/global.css";
import { Image } from 'astro:assets';

import MainLayout from "../layouts/main-layout.astro";
import { Section } from "../components/Section";
import { Hero } from "../components/Hero";
import { About } from "../components/About";
import { WhyUs } from "../components/WhyUs";
import { FAQs } from "../components/FAQs";
import { Contact } from "../components/Contact";
import { SectionIntro } from "../components/SectionIntro";
import { SectionSubtitle } from "../components/SectionSubtitle";
import { SectionTitle } from "../components/SectionTitle";
import { SectionDescription } from "../components/SectionDescription";
import { Button } from "../components/Button";
// Assets
import servers from '../assets/servers-compressed-1920.webp';
import recycleIcon from "../assets/recycle-cropped.png";
import settingsIcon from "../assets/settings-cropped.png";
import solarIcon from "../assets/solar-cropped.png";
import { FAQBackground } from "../utils/svgComponents";

console.log("Running on the server")

const aboutTitle = "Single-Tenant Data Centres";
const aboutSubtitle = "Cost Efficient, Resilient & Secure";
const aboutDescription = ["New or fully refurbished hyper-efficient data centres, with low cooling requirements, onsite power generation and direct utility procurement."];
const whyTitle = "Why SUB1?";
const whyDescription1 = "SUB1 creates hyper-efficient data centres for single tenant occupancy. Tenants pay for power directly with utility providers, resulting in a total cost of ownership (TCO) of around half, compared to large colo deployments with metered power.";
const whyDescription2 = "Each site is selected based on power availability and carrier density. SUB1 has a variety of sites available, to suit various requirements.";

const whyDescription = [whyDescription1, whyDescription2];
const FAQTitle = "Frequently Asked Questions";
---
<!-- Overflow-hidden fixes 1st section pushing fixed header down -->
<MainLayout classes="overflow-hidden">
	<Section headerOffset height="full" className="bg-sky-50 grid grid-cols-[1.5rem_1rem_1fr_1rem_1.5rem] xs:grid-cols-[10%_1fr_10%] sm:grid-cols-[12%_1fr_12%]  lg:grid-cols-content-lg xl:grid-cols-content-xl items-center">	
		
		<div class="IMAGE__BORDER hidden lg:flex -translate-x-3 bg-slate-200 row-start-1 col-start-1 lg:col-start-3 col-span-full h-full lg:poly-clip"></div>
		<div class="IMAGE__BG bg-gray-600 row-start-1 col-start-1   lg:col-start-3 col-span-full h-full lg:poly-clip"></div>
		<Image 
			data-flip="false" 
			class="IMAGE row-start-1 col-start-1 lg:col-start-3 col-span-full h-full object-cover mix-blend-soft-light brightness-[55%] z-40 lg:poly-clip" 
			src={servers} 
			widths={[ ]} 
			alt="A closeup of our servers" slot="bgImage"
		/>	
		<Hero className=" HERO row-start-1 col-start-2 col-span-3 xs:col-start-2 sm:col-start-2 xs:col-span-1  max-w-lg md:max-w-2xl sm z-40" client:load />
	</Section>

	<Section className="ABOUT bg-slate-200 grid grid-cols-[1.5rem_1rem_1fr_1rem_1.5rem] xs:grid-cols-[5%_5%_1fr_5%_5%]    lg:grid-cols-[3rem_3rem_1fr_3rem_3rem] xl:grid-cols-content-lg items-center py-section-sm gap-y-20">

		<SectionIntro className="max-w-lg col-start-2 col-span-3 xs:col-start-3 xs:col-span-1 xxs:col-start-3 xxs:col-span-1">
			<SectionSubtitle subtitle={aboutSubtitle} />
			<SectionTitle  className="text-primaryDark" title={aboutTitle} />
			<SectionDescription description={aboutDescription} />
		</SectionIntro>
		<About className="col-start-2 col-span-3 xs:col-start-2 xs:col-span-3 sm:col-start-3 sm:col-span-1 md:col-start-2 md:col-span-3">
			<Image 
				class="IMAGE" 
				src={solarIcon} 
				widths={[ ]} 
				alt="A closeup of our servers" slot="solarIcon"
			/>	
			<Image 
				class="IMAGE" 
				src={settingsIcon} 
				widths={[ ]} 
				alt="A closeup of our servers" slot="settingsIcon"
			/>
			<Image 
				class="IMAGE" 
				src={recycleIcon} 
				widths={[ ]} 
				alt="A closeup of our servers" slot="recycleIcon"
			/>					
		</About>
	</Section>
	
	<Section className="WHY bg-primary grid grid-cols-[1.5rem_1rem_1fr_1rem_1.5rem] xs:grid-cols-[5%_5%_1fr_5%_5%]  lg:grid-cols-content-lg xl:grid-cols-content-xl items-center py-section-sm gap-y-14">
		<SectionIntro className="max-w-2xl mx-auto col-start-3 col-span-1 sm:col-start-3 sm:col-span-1">
			<SectionTitle className="text-primaryDark" title={whyTitle} />
			<SectionDescription className="text-white" description={whyDescription} />
		</SectionIntro>
		<!-- <WhyUs className="col-start-3 col-span-1 sm:col-start-3 " /> -->
		<Button className="col-start-3 col-span-1 sm:col-start-3 sm:col-span-1 py-3 pl-4 pr-8 text-base font-semibold max-w-2xl xs:mr-auto" intent="gray" rounded size="md">Find Out More</Button>
	</Section>

	<Section className="FAQs relative grid grid-cols-[1.5rem_1rem_1fr_1rem_1.5rem] xs:grid-cols-[5%_5%_1fr_5%_5%] sm:grid-cols-content-md lg:grid-cols-content-lg xl:grid-cols-content-xl items-center  py-section-sm gap-y-14">
		<SectionIntro className="max-w-lg col-start-2 col-span-3 xs:col-start-3 xs:col-span-1 xxs:col-start-3 xxs:col-span-1">
			<SectionTitle className="text-primaryDark" title={FAQTitle} />
			<SectionDescription className="gap-y-0">
				<p>If you can't find what you're looking for, you can always <a href="#" class="font-medium text-primary hover:text-primaryLight">send us an email</a> with your enquiry.</p>
			</SectionDescription>
		</SectionIntro>
		<FAQs className="col-start-2 col-span-3" />
		<FAQBackground className="faq-background flex items-center absolute inset-0 brightness-95 opacity-[20%]" />
	</Section>

	<Section className="bg-slate-200 grid grid-cols-content-xxs xxs:grid-cols-content-xs xs:grid-cols-content-sm sm:grid-cols-content-md lg:grid-cols-content-lg xl:grid-cols-content-xl items-center">
		<Contact className="col-start-2 col-span-1" client:visible/>
	</Section>
</MainLayout>
